<div class="container-fluid">
  <div class="row">
      <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0 font-size-18">Payslip</h4>
          </div>
      </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Payslip</h4>
          <!-- Form to generate Payslip -->
          <form (ngSubmit)="generatePayslip()">
            <div class="col-sm-12">
              <label for="period">Period *</label>
              <select id="period" class="form-control custom-select pl-2" [(ngModel)]="selectedPeriod" name="period" required>
                <option value="" disabled selected>Select...</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <!-- Add more options as needed -->
              </select>
            </div>
          
            <div class="col-sm-12">
              <input type="checkbox" class="form-check-input" id="excelFormat" [(ngModel)]="excelFormat" name="excelFormat">
              <label class="form-check-label" for="excelFormat">Excel Format</label>
            </div>
          
            <button type="submit" class="btn btn-primary mt-3">Generate Payslip</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
