<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">My Profile</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Dashboard</li>
                    <!-- <li class="breadcrumb-item">
                    <a href="javascript: void(0);" routerLink="/member-account/create-account-list">View list</a>
                    </li> -->
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="row card-body">
                <div class="col-lg-4">
                    <div class="col-12">
                     <h4 style="color:orange"><i>USER PHOTO</i></h4> 
                     <img [src]="imageSrc" *ngIf="imageSrc" height="200" width="350" alt="Selected Image"/>
                     <input class="mt-2" type="file" (change)="onFileSelected($event)"/>

                     <!-- <img class="w-100" src="assets/images/imagenotfound.png" height="250"/>
                     <input class="mt-2" type="file"/> -->
                 </div>
                 <div class="col-12 mt-5">
                     <h4 style="color: orange"><i>USER PHOTO</i></h4> 
                     <img [src]="imageSrc" *ngIf="imageSrc" height="200" width="350" alt="Selected Image"/>
                     <input class="mt-2" type="file" (change)="onFileSelected($event)"/>
                 </div>
                 <button type="button" class="btn btn-dark mt-2" style="width:23vw;">Downloads(0)</button>
                 </div>
               <div class="col-lg-8">
                
                <div class="p-20">
                    <div class="row mb-0">
                        <div class="row">
                            <div class="col-sm-2 col-md-3">
                                <label>No</label>
                                <input type="text" class="form-control"  readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>First Name</label>
                                <input type="text" class="form-control"  readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Middle Name</label>
                                <input class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3"readonly>
                                <label>Last Name</label>
                                <input class="form-control"readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mb-0">
                        <div class="row">
                            <div class="col-sm-2 col-md-3">
                                <label>ID Number</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Passport Number</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Date of Birth</label>
                                <input class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3"readonly>
                                <label>Gender</label>
                                <input class="form-control"readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mb-0">
                        <div class="row">
                            <div class="col-sm-2 col-md-3">
                                <label>Marital Status</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>CitizenShip</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Supervisor Code</label>
                                <input class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Supervisor Name</label>
                                <input class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mb-0">
                        <div class="row">
                            <div class="col-sm-2 col-md-3">
                                <label>Supervisor Title</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>HOD</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>HOD Name</label>
                                <input class="form-control"readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>HOD Title</label>
                                <input class="form-control"readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mb-0">
                        <div class="row">
                            <div class="col-sm-2 col-md-3">
                                <label>Employee Category</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Date of Join</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Contract Type</label>
                                <input class="form-control"readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Job ID</label>
                                <input class="form-control"readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mb-0">
                        <div class="row">
                            <div class="col-sm-2 col-md-3">
                                <label>Job Title</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Pin Number</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3"readonly>
                                <label>NSSF Number</label>
                                <input class="form-control"readonly>
                            </div>
                            <div class="col-sm-2 col-md-3"readonly>
                                <label>NHIF Number</label>
                                <input class="form-control"readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mb-0">
                        <div class="row">
                            <div class="col-sm-2 col-md-3">
                                <label>Home Phone Number</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Email</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Company Email</label>
                                <input class="form-control"readonly>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <label>Leave Balance</label>
                                <input class="form-control"readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mb-0">
                        <div class="row mt-3">
                            <div class="col-sm-2 col-md-3">
                                <button type="button" class="btn btn-warning w-100">Next of Kin(0)</button>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <button type="button" class="btn btn-primary w-100">Qualifications(0)</button>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <button type="button" class="btn btn-info w-100">Membership(0)</button>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <button type="button" class="btn btn-success w-100">Asset Allocation(0)</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-0">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-3">
                            <div class="card mb-3 text-center">
                                <div style="width: 100px; height: 100px; cursor: pointer; opacity: 0;" accept="image/*" (change)="handleFileInput($event.target.files)"
                                    class="card-text text-danger" style="font-style: italic;">
                                    FRONT ID PHOTO
                                   
                                    
                                        <img [src]="imageSrc2" *ngIf="imageSrc2" width="200" height="150" alt="Selected Image"/>
                                        <input class="mt-2" type="file" (change)="onFileSelected($event)"/>
                                  
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card mb-3 text-center">
                                <div style="width: 100px; height: 100px; cursor: pointer; opacity: 0;" accept="image/*" (change)="handleFileInput($event.target.files)"
                                    class="card-text text-danger" style="font-style: italic;">
                                    BACK ID PHOTO
                                   
                                    
                                        <img [src]="imageSrc2" *ngIf="imageSrc2" width="200" height="150" alt="Selected Image"/>
                                        <input class="mt-2" type="file" (change)="onFileSelected($event)"/>
                                  
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card mb-3 text-center">
                                <div style="width: 100px; height: 100px; cursor: pointer; opacity: 0;" accept="image/*" (change)="handleFileInput($event.target.files)"
                                    class="card-text text-danger" style="font-style: italic;">
                                    SIGNATURE PHOTO
                                   
                                    
                                        <img [src]="imageSrc2" *ngIf="imageSrc2" width="200" height="150" alt="Selected Image"/>
                                        <input class="mt-2" type="file" (change)="onFileSelected($event)"/>
                                  
                                </div>
                                
                               
                               
                            </div>
                            
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card mb-3 text-center">
                                <div style="width: 100px; height: 100px; cursor: pointer; opacity: 0;" accept="image/*" (change)="handleFileInput($event.target.files)"
                                    class="card-text text-danger" style="font-style: italic;">
                                    KRA-PIN PHOTO
                                   
                                    
                                        <img [src]="imageSrc2" *ngIf="imageSrc2" width="200" height="150" alt="Selected Image"/>
                                        <input class="mt-2" type="file" (change)="onFileSelected($event)"/>
                                  
                                </div>
                                
                                
                            </div>
                            
                        </div>
                
                        
                    </div>
                </div>
               </div>
                
                
                
                
                
            </div>
        </div>
    </div>
</div>
