<div class="account-pages vh-100 d-flex align-items-center" style="background: url('assets/images/profile1-img.png') no-repeat center center; background-size: cover; height: 100vh;">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <img src="assets/images/springboardlogo.png" alt="" class="img-fluid">
          </div>
          <div class="card-body pt-0">
      
            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
              <div *ngIf="success" class="alert alert-success">
                {{ success }}
              </div>

              <div class="mb-3">
                <label for="otp">Enter Code Sent To Email & Phone</label>
                <input type="otp" formControlName="otp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" id="otp" placeholder="OTP" />
                <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                  <div *ngIf="f.otp.errors.required">Code is required</div>
                </div>
              </div>
              </form>
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-light btn-md btn-block" type="button" style="width: 100%;" (click)="verifyOtp()">
                    <i class="mdi dripicons-checkmark text-link" style=" margin-right: 2px;"></i>
                    <span style="line-height: 24px;">Verify OTP</span>
                  </button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-secondary btn-md btn-block" type="button" style="width: 100%;" (click)="resendCode()">
                    <i class="mdi dripicons-lock text-link" style=" margin-right: 2px;"></i>
                    <span style="line-height: 24px;">Resend Code</span>
                  </button>
                </div>
              </div>
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p class="text-link text-white"> Developed By: The Micropoint Systems Ltd </p>
          <p class="text-link text-white">Springboard_Capital © 2024. All rights reserved.</p>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
