<div class="account-pages vh-100 d-flex align-items-center" style="background: url('assets/images/profile1-img.png') no-repeat center center; background-size: cover; height: 100vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft bg-primary">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">Welcome Back !</h5>
                    <p>Sign in to continue to SPC.</p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </a>
              </div>
              <div class="p-2">
                <h1 class="text-center">Activate Account</h1>
                <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                  <div class="mb-3">
                    <div class="input-group auth-pass-inputgroup">
                      <input type="text" class="form-control" formControlName="employeeNo" placeholder="Enter Employee No"
                        [ngClass]="{ 'is-invalid': submitted && f.employeeNo.errors }" aria-label="employeeNo"
                        aria-describedby="employeeNo-addon">
                      <button class="btn btn-light ms-0" type="button" id="employeeNo-addon"><i class="mdi mdi-account-outline"></i></button>
                      <div *ngIf="submitted && f.employeeNo.errors" class="invalid-feedback">
                        <span *ngIf="f.employeeNo.errors.required">Employee No is required</span>
                      </div>
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-md-6 mt-3">
                        <button class="btn btn-light btn-md btn-block" type="button" style="width: 100%;">
                          <i class="mdi dripicons-checkmark text-link" style=" margin-right: 2px;"></i>
                          <span style="line-height: 24px;">Submit</span>
                        </button>
                      </div>
                    <!-- <div class="col-md-6 mt-3">
                      <button class="btn btn-secondary btn-md btn-block" type="button" style="width: 100%;" (click)="activateAccount()">
                        <i class="mdi mdi-account-multiple text-link"></i> Activate Account
                      </button>
                    </div> -->
                    <div class="col-md-6 mt-3">
                      <button class="btn btn-primary btn-md btn-block" type="button" style="width: 100%;" (click)="backLogin()">
                        <i class="mdi mdi-arrow-left-bold text-link" style="margin-right: 2px;"></i>
                        <span style="line-height: 24px;">Back To Login</span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <p class="text-link text-white">Developed By: The Micropoint Systems Ltd <small class="text-muted"></small></p>
            <p class="text-link text-white">Springboard_Capital © 2024. All rights reserved. <small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  